.container{
  max-height: 300px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  display: flex;
  width: 100%;
  margin: 1em 0;
}
.img{
  height: 100%;
  width: 200px;
}
.content {
  padding: 1em 0;
}
.info{
  padding: 1em;
  width:30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}
.set{
  display: flex;
  justify-content: center;
  align-items: center;
}
.set > *{
  margin: 0.2em;
}
.button{
  background-color: #2968ab;
  border-radius: .5em;
  padding: .7em 1em;
  color: white;
  font-weight: bold;
}

.button:hover{
  background-color: #4187d1;
}

.layout{
  width: 100%;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}







@media screen and (max-width: 1100px){
  .layout{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .info{
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media screen and (max-width: 650px){
.container{
  flex-direction: column;
  max-height: fit-content;
}

.img{
  width: 70%;
  margin: .5em auto;
  border-radius: .5em;
  height:auto;
}

.content{
  padding: 1em;
}

  .info{
    flex-direction: column;
    width: 100%;
  }
  .info > * {
    margin-bottom: 1em;
  }

}
