.container {
  width: 80%;
  min-height: 40vh;
  justify-self: ;
  margin: 3em auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: bold;
  font-size: 40px;
}

@media screen and (max-width: 760px) {
  .container{
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .container{
    width: 100%;
  }
  
  
}
