.container{
    display: flex;
    margin: 0 64px;
    color: var(--black-100);
}

.column{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px;
    padding-top: 0;
}

.column:first-of-type{
    border-right: 1px solid var(--black-25);
}

.inputitem{
    padding: 16px 16px;
    border-radius: 8px;
    border: none;
    background-color: var(--black-10);
    margin-bottom: 16px;
}

.textarea{
    padding: 16px 16px;
    border-radius: 8px;
    border: none;
    display: block;
    margin-bottom: 16px;
    background-color: var(--black-10);
}

.button{
    width: 100%;
    padding: 24px 48px;
    border: none;
    background-color: var(--primary-100);
    border-radius: 8px;
    color: var(--white-100);
}

.button:hover{
    background: var(--brand-gradient-100);
}

.button:active{
    background: var(--secondary-100);
}


.heading{
    margin-bottom: 32px;
}

.check{
    margin-left: 16px;
}
