.container{
    margin: 0 128px;
    color: var(--black-100);
}


.items{
    margin-bottom: 32px;
}

.heading{
margin-bottom: 16px;
}

.date{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.title{
    width: 100%;
    text-align: center;
}

.sectiontitle{
    font-size: 64px;
    line-height: 64px;
}

@media screen and (max-width: 600px) {

    .container{
        margin: 0;
        text-align: center;
    }

    .date{
        width: 300px;
        justify-content: center;
        margin: 0 auto;
    }

    
}
