.button{
  background-color: #2968ab;
  border-radius: .5em;
  padding: .7em 1em;
  color: white;
  font-weight: bold;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  max-width: 800px;
  margin: 2em auto;
  border-radius: 8px;

}

.formGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label {
  flex: 1;
  margin-right: 20px;
  font-weight: bold;
}

.input, textarea {
  flex: 2;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  resize: vertical;
}

.textarea{
    height: 200px;
}
