.hero{
    margin: 0 64px;
    max-height: 632px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.banner{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, rgba(217,217,217,.7) 0%, rgba(217,217,217,.7) 58%, rgba(217,217,217,.2) 100%);
}

.textcontainer{
    width: 40%;
    margin-left: 50%;
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    color: var(--black-100);
}

.title{
    font-size: 45px;
    line-height: 45px;
    text-align: center;
}

.text{
    font-size: 21px;
    line-height: 41px;
    text-align: center;
}

.button{
    width: fit-content;
    padding: 24px 48px;
    border: none;
    background-color: var(--primary-100);
    border-radius: 8px;
    color: var(--white-100);
}
